.out {
    padding: 20px;
    border-radius: 5px;
    background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
    height: 400px;
    width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .textFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    
    margin: 0 auto; /* Centers the element horizontally */
}



  
  .button {
    margin-top: 10px;
  }
  
  .listItem {
    margin-bottom: 10px;
  }
  
  .tit {
    margin-bottom: 20px;
  }
  
  .blabla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056b3;
    width: 250px; /* Set the width of the button */
    height: 50px; /* Set the height of the button */
    margin: 0 auto; /* Centers the button horizontally */
    margin-top: 20px; /* Adjust the margin as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition for hover effect */
  }
  
  .blabla:hover {
    background-color: #003366; /* Change background color on hover */
  }
  
  .title {
    color: white;
  }
  
  .tit {
    color: white;
    margin-top: 10px;
  }
  
  .textFieldContainer {
    margin-top: 20px;
  }
  
  .te {
    margin-bottom: 10px;
    background-color: rgba(12, 12, 12, 0.455);
    color: white;
  }
  
  .blabla {
    margin-top: 10px;
  }
  
